



.index {
	background-image: url(../images/EDITED/king.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom center;
	width: 100%;
	height: 100%;
/*	font-family: 'Shrikhand', cursive;*/
	font-family: 'chopinFont', cursive;
	font-size: 120px;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 100px;
	position: fixed;
	text-shadow: 2px 2px black;
/*	background-attachment: fixed;*/

}

